Package: 1okote.slices3
Version: 3.0.5
Section: iOS 13
Maintainer: 1okote
Depends: firmware (>=11), mobilesubstrate, preferenceloader, applist (>= 1.5.0), com.rpetrich.rocketbootstrap (>=1.0.7~beta3)
Conflicts: com.expetelek.slices, com.subdiox.slices2
Architecture: iphoneos-arm
Installed-Size: 1004
Name: Slices 3
Author: Baw Appie <pp121324@gmail.com>
Sponsor: 1okote